.one{
    height: 300px;
    width: 400px;
    border-width: 10px;
    margin-left: 500px;
    margin-top: 140px;
    border-color: aliceblue;
    border-style: solid;
    padding: 40px;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}